:root {
  --text-size-a: 0.79rem;
  --text-size-b: 0.889rem;
  --text-size-c: 1rem;
  --text-size-d: 1.125rem;
  --text-size-e: 1.266rem;
  --text-size-f: 1.424rem;
  --text-size-g: 1.602rem;
  --text-size-h: 1.802rem;
  --text-size-i: 2.027rem;

  --text-a: #222222;
  --text-b: #717171;
  --text-c: #06c;
  --text-w: #ffffff;

  --base-a: #ffffff;
  --base-b: #f7f7f7;
  --base-c: #ebebeb;
  --base-d: green;

  --blue-a: #0069f5;
  --blue-b: #005ae6;
  --blue-c: #1a83ff;
  --blue-s: rgba(0, 105, 245, 0.1);

  --red-a: #ff385c;
  --red-s: rgba(255, 56, 92, 0.1);

  --orange-a: #ff5c38;
  --orange-s: rgba(255, 92, 56, 0.1);

  --yellow-a: #fff200;
  --yellow-s: rgba(255, 242, 0, 0.1);

  --green-a: #27b46a;
  --green-s: rgba(39, 180, 106, 0.1);

  --green-b: rgba(0, 126, 89, 1);

  --secondary-a: #131a22;
  --secondary-b: #2d313c;
  --secondary-c: #e3f1ff;
  --secondary-d: #c7e3ff;
  --secondary-e: #ffffff;

  --transition-a: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1);

  --shadow-a: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);

  --shadow-b: 0 2px 3px -1px rgba(0, 0, 0, 0.2), 0 0 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);

  --shadow-c: rgba(0, 0, 0, 0.08) 0px 4px 16px;

  --shadow-d: rgba(0, 0, 0, 0.1) 0px 4px 16px;

  --border-shadow: rgb(0 0 0/8%) 0 1px 0;

  --border-a: #e9ecef;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
 
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  color: var(--text-a);
  background: var(--base-a);
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.1);
}

p {
  line-height: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

ul {
  margin: initial;
}

.green {
  color: #27b46a;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.gray {
  color: var(--text-b);
}

.white {
  color: var(--text-w);
}
