:root {
  --text-size-a: 0.79rem;
  --text-size-b: 0.889rem;
  --text-size-c: 1rem;
  --text-size-d: 1.125rem;
  --text-size-e: 1.266rem;
  --text-size-f: 1.424rem;
  --text-size-g: 1.602rem;
  --text-size-h: 1.802rem;
  --text-size-i: 2.027rem;

  --text-a: #040c13;
  --text-b: #58667e;
  --text-c: #06c;
  --text-w: #ffffff;

  --black-a: #131921;
  --black-b: #192F45;

  --base-a: #ffffff;
  --base-b: #f5f5f7;
  --base-c: #ebebeb;
  --base-d: #131921;
  --base-e: #232f3e;

  --blue-a: #0098FA;
  --blue-b: #0098FA; /* 16% */
  --blue-c: #0098FA;
  --blue-t: #0098FA;
  --blue-s: rgba(0, 70, 190, 0.2);

  --gradient-a: linear-gradient(
    to right top,
    #339cff,
    #1d8cf8,
    #027cf1,
    #006ce8,
    #005bde,
    #005bde,
    #005bde,
    #005bde,
    #006ce8,
    #027cf1,
    #1d8cf8,
    #339cff
  );

  --red-a: #ff385c;
  --red-s: rgba(255, 56, 92, 0.1);

  --orange-a: #ff5c38;
  --orange-s: rgba(255, 92, 56, 0.1);

  --yellow-a: #fff200;
  --yellow-b: #FEBA3E;
  --yellow-s: rgba(255, 242, 0, 0.1);

  --palette-a: #131921;
  --palette-b: #0098FA;
  --palette-c: #F0FAFF;
  --palette-d: #192F45;





  --green-a: #15c6c1;
  --green-b: rgba(0, 126, 89, 1);
  --green-c: #34d399;

  --green-s: rgba(39, 180, 106, 0.1);

  --secondary-a: #131a22;
  --secondary-b: #2d313c;
  --secondary-c: #e3f1ff;
  --secondary-d: #c7e3ff;
  --secondary-e: #ffffff;

  --transition-a:  0.2s cubic-bezier(0.2, 0, 0, 1);
  --transition-b:  0.3s ease-in-out;

  --shadow-a: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);

  --shadow-b: 0 2px 3px -1px rgba(0, 0, 0, 0.2), 0 0 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);

  --shadow-c: rgba(0, 0, 0, 0.08) 0px 4px 16px;

  --shadow-d: rgba(0, 0, 0, 0.1) 0px 4px 16px;

  --border-shadow: rgb(0 0 0/8%) 0 1px 0;

  --border-a: #e9ecef;
  --border-b: #d0d3d6;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-family: "IBM Plex Sans", sans-serif;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--text-a);
  background: var(--base-a);
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

ul {
  margin: initial;
}

p {
  margin: initial;
}

.green {
  color: #27b46a;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.gray {
  color: var(--text-b);
}

.white {
  color: var(--text-w);
}
