@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --text-size-a: 0.889rem;
  --text-size-b: 1rem;
  --text-size-c: 1.125rem;
  --text-size-d: 1.266rem;
  --text-size-e: 1.424rem;
  --text-size-f: 1.602rem;
  --text-size-g: 1.802rem;
  --text-size-h: 2.027rem;


  --violet-a: #8a97ff;
  --violet-b: rgba(138, 151, 255, 0.5);
  --violet-c: rgba(138, 151, 255, 0.9);

  --text-a: #222222;
  --text-b: #717171;
  --text-c: #06c;
  --text-w: #ffffff;

  --base-a: #ffffff;
  --base-b: #f7f7f7;
  --base-c: red;
  --base-d: green;

  --blue-a: #0069f5;
  --blue-b: #005AE6;
  
  --red-a: #FF385C;
  
  --green: #27b46a;

  --secondary-a: #131a22;
  --secondary-b: #2d313c;
  --secondary-c: #e3f1ff;
  --secondary-d: #c7e3ff;
  --secondary-e: #ffffff;

  --glass-a: rgba(3, 0, 20, 0.8);

  --soft-a: rgba(3, 0, 20, 0.5);

  --button-transition-a: background-color 0.2s cubic-bezier(0.05, 0, 0.2, 1) 0s,
    border-color 0.2s cubic-bezier(0.05, 0, 0.2, 1) 0s;

  --button-shadow: inset 0 0 12px rgba(138, 151, 255, 0.5);

  --button-background: linear-gradient(
      180deg,
      rgba(79, 11, 168, 0) 0%,
      rgba(138, 151, 255, 0.24) 100%
    ),
    rgba(138, 151, 255, 0.24);

  --shadow-a: 0 5px 40px rgba(0, 0, 0, 0.1);
  --shadow-b: 0 2px 3px -1px rgba(0, 0, 0, 0.2), 0 0 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  --shadow-c: rgba(0, 0, 0, 0.08) 0px 4px 16px;
  --shadow-d: rgba(0, 0, 0, 0.1) 0px 4px 16px;

  --border-shadow: rgb(0 0 0/8%) 0 1px 0;
  --border-a: #dddddd;
  --border-b: red;
  --border-c: red;
  --border-d: rgba(255, 255, 255, 0.4);
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--text-a);
  background: var(--base-a);
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.1);
  font-family: 'Manrope', sans-serif;
}

p {
  line-height: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}



.green {
  color: #27b46a;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.gray {
  color: var(--text-b);
}

.white {
  color: var(--text-w);
}

ul {
  margin: initial;
}
